semanticdb
ede-projects.el
games
.elc
smex-items
.smex-items
recentf
.recentf*
*~$
places
ido.last
elpa
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
eshell
company-statistics-cache.el
.cache
network-security.data
.DS_Store
